@media only screen and (min-width: 850px){

    .page-two h3{
        font-size: 1rem;
    }
    
    .page-two h4::first-letter{
        font-size: 3rem;
    }
    

    
    /* .main {
        height: 100%;
      
    
    } */

 
    .name{
        position: absolute;
        top: 41%;
    left: 12px;
        height: 163px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        font-family: var(--main-font);
        font-weight: 700;
    }
    .name img{
        width: 30px;
        align-self: flex-end;
        filter: var(--filter);
    }
    .name h2{
        font-size: 4rem;
    
        letter-spacing: 2.1px;
        line-height: 64px;
    }
    .name h2{
        font-size: 4rem;
    background: linear-gradient(to right, rgba(62, 122, 252, 0.788), white 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 64px;
        height:200px;
    
    
    }
  

    .page-one{
        height: 100%;
        width: 70%;
        
    }

    .page-two{
        height: 100%;
        width: 30%;
      display: grid;
      place-content: center;
}
.page-three{
    height: 100%;
    width: 60%;
    
}

.page-four{
    height: 100%;
    width: 40%;
    display: grid;
    place-content: center;
}

.skill-container{
    left: 6%;
   
   
}

.skill{
   width: 60%;
}

.page-five{
    height: 100%;
    width: 60%;
  
    
}

.page-six{
    display: grid;
    place-content: center;
    height: 100%;
    width: 30%;
}

.page-seven{
    height: 100%;
    width: 50%;
    
}

.page-eight{
    height: 100%;
    width: 45%;
}

.myfourth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    margin-top: 100px;
    width: 100%;
}
.page-seven span#developer{
    display: block;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    font-size: .8rem;
    border-radius: 50%;
    background-color: var(--side1-color);
    position: absolute;
    top: 45%;
    left: 60%;
  transform: rotateZ(20deg);
}

span#developer{
    display: block;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    border-radius: 50%;
    background-color: var(--side1-color);
    position: absolute;
    top: 20%;
    font-family: var(--main-font);
    left: 20%;
  transform: rotateZ(-20deg);
}

span#design{
    font-family: var(--main-font);
    display: block;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 15px;
    border-radius: 50%;
    background-color: var(--side2-color);
    position: absolute;
    top: 70%;
    left: 83%;
    transform: rotateZ(13deg);
}


section.first{
  height: 100vh;
  width: 100vw;
  
}

li{
    font-size: 1.2rem;
}



.myfirst{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 100%;
    /* margin: 20px 3px ; */

}





/* 

.page-two h2 {
    margin: 20px 0px 40px 0px;
    
} */

.main > img{
   
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 20%;
    top: 6px;
   
}
.page-three aside{
    position: absolute;
    opacity: .1;
    z-index: 0;
    top: 12%;
    font-size: 6rem;
    font-family: 'Courier New', Courier, monospace;
    transform: rotateZ(0deg);
}

.skill h4{
    color: var(--side2-color);
    font-size: 1.3rem;
    margin-bottom: -1px;
    text-align: center;
    
}

.skill p{
    font-size: .7rem;
    opacity: var(--main-opacity);
    width: 130px;
    line-height: 18px;
    text-align: center;
  


}
.skill-container{
    display: grid;
    /* width: 460px; */
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    top: 14%;

    z-index: 3;
}




.mysecond{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 100%;
   

}

.mythird{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    width: 100%;


}




section.second{
    height: 100vh;
    width: 100vw;
    background-color: var(--bg2color);
  
}

.page-five{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-six button[type= "submit"]{
    padding: 7px 20px;
    background-color: var(--side1-color);
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.747);
  
    
}

.main >img{
    display: block;
    width: 500px;
    position: absolute;
    left: 28%;
    top: 12%;
}

section.last{
    height: 100vh;
    width: 100vw;
    background-color: var(--bg2color);
  
}

form{
    margin-top: 40px;
}


.button-up{
    margin-top: 40px;
  
    display: grid;
    justify-content: flex-end;
}

nav li{
 
    list-style-type: none;

    opacity: var(--main-opacity);
    cursor: pointer;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: .8rem;
    /* color: rgba(0, 81, 255, 0.788); */
    transition: .2s;
    z-index: 1;
    
}

nav ul{
  
  
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.page-two p{
    margin-top: 20px;
    color: white;
    opacity: var(--main-opacity);
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: var(--second-font);
    font-weight: 200;
    text-align: left;
    line-height: 30px;
}


    
.page-six p{
    margin-top: 20px;
    margin-bottom:15px;
    color: rgba(255, 255, 255, 0.835);
    font-size: var(--main-fontsize);
    letter-spacing: 1px;
    font-family: var(--first-font);
    font-weight: 300;
    text-align: center;
    line-height: 28px;
    font-size: 1rem;
    }
    

    .page-four h4{
        color: rgba(255, 255, 255, 0.899);
        font-size: 1.2rem;
        letter-spacing: var(--main-letterspace);
        font-family: var(--second-font);
        font-weight: 500;  
        line-height: 33px;
        
        text-align: center;
        margin-bottom: 25px;
    }
    
    
    .page-four p{
        margin-top: 20px;
        color: white;
        opacity: var(--main-opacity);
        font-size: var(--main-fontsize);
        font-size: .9rem;
        letter-spacing: 1px;
        font-family: var(--second-font);
        font-weight: 200;
        text-align: center;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .page-seven p{
        position: absolute;
        top:70%;
        left: 15px;
        opacity: .5;
        letter-spacing: var(--main-letterspace);
        line-height: 20px;
        font-size: .9rem;
    }

    li{
 
        list-style-type: none;
    
        opacity: var(--main-opacity);
        cursor: pointer;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: .9rem;
        /* color: rgba(0, 81, 255, 0.788); */
        transition: .2s;
        z-index: 1;
        display: inline-block;
        margin-left: 85px;
        
    }

.skill-container{
    margin-top: 20px;
    display: grid;
    height: 300px;
    /* width: 460px; */
    width: 100%;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    top: 30%;
 
    z-index: 3;
}




.page-two h4{
    color: rgba(255, 255, 255, 0.899);
    font-size: 1.2rem;
    letter-spacing: var(--main-letterspace);
    font-family: var(--second-font);
    font-weight: 500;  
    line-height: 33px;
    text-align: center;
 
    margin-bottom: 20px;
}
li{
 
    list-style-type: none;

    opacity: var(--main-opacity);
    cursor: pointer;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: .7rem;
    /* color: rgba(0, 81, 255, 0.788); */
    transition: .2s;
    z-index: 1;
    display: inline-block;
    margin-left: 45px;
    
}

/*  */
  
  
}

